<div class="main-container">
  <mat-card>
    <mat-accordion>
      <mat-expansion-panel
        class="panel no-padding"
        *ngFor="let order of tableOrders; let i = index"
      >
        <mat-expansion-panel-header class="panel">
          <div class="flexedTitle">
            <mat-panel-title>Ord. {{ order.orderId }}</mat-panel-title>
            <div>
              <mat-icon>restaurant</mat-icon>
              <p>:</p>
              <mat-icon *ngIf="order.foodStatus == 0">hourglass_empty</mat-icon>
              <mat-icon *ngIf="order.foodStatus == 1">whatshot</mat-icon>
              <button
                *ngIf="order.foodStatus == 2"
                mat-icon-button
                (click)="served('food', i)"
                color="primary"
              >
                <mat-icon>notifications_active</mat-icon>
              </button>

              <mat-icon *ngIf="order.foodStatus == 3">done</mat-icon>
            </div>
            <div>
              <mat-icon>local_bar</mat-icon>
              <p>:</p>
              <mat-icon *ngIf="order.drinkStatus == 0"
                >hourglass_empty</mat-icon
              >
              <mat-icon *ngIf="order.drinkStatus == 1">whatshot</mat-icon>
              <button
                *ngIf="order.drinkStatus == 2"
                mat-icon-button
                (click)="served('drink', i)"
                color="primary"
              >
                <mat-icon>notifications_active</mat-icon>
              </button>
              <mat-icon *ngIf="order.drinkStatus == 3">done</mat-icon>
            </div>
          </div>
        </mat-expansion-panel-header>

        <mat-card cls *ngFor="let dish of order.dishes; let j = index">
          <div class="flexed">
            <p>{{ dish.name }}</p>
            <p>x {{ dish.quantity }}</p>
            <mat-icon *ngIf="dish.status == 0">hourglass_empty</mat-icon>
            <mat-icon *ngIf="dish.status == 1">whatshot</mat-icon>
            <mat-icon *ngIf="dish.status == 2">fastfood</mat-icon>
          </div>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>

<button mat-fab color="primary" (click)="goToNewOrder()">
  <mat-icon aria-hidden="false">add</mat-icon>
</button>
