@import "../../../css-variables.scss";

.main-container {
  padding: 20px;
  height: 75vh;
  overflow: scroll;
  // Firefox hide scrollbar
  scrollbar-width: none;
  .flexedTitle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    mat-panel-title,
    div {
      display: flex;
      align-items: center;
      p {
        margin: 0px 5px;
      }
    }
  }
  .panel {
    .flexed {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  .body {
    padding: 0px;
  }
}
// Chrome hide scrollbar
.main-container::-webkit-scrollbar {
  display: none;
}
button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
