<div class="main-container">
  <div class="tabs-container">
    <mat-card
      (click)="changeTab('busy')"
      [ngClass]="{ 'is-active': tab === 'busy' }"
    >
      BUSY
    </mat-card>
    <mat-card
      (click)="changeTab('free')"
      [ngClass]="{ 'is-active': tab === 'free' }"
    >
      FREE
    </mat-card>
  </div>

  <div class="list-container">
    <ul *ngIf="tab === 'busy'">
      <ng-container *ngFor="let table of tables">
        <li *ngIf="!table.free">
          <a [routerLink]="['/cashier/tables/' + table.number]">
            <mat-card class="table-block">
              <span>Table {{ table.number }}</span>
              <mat-icon>restaurant_menu</mat-icon>
            </mat-card>
          </a>
        </li>
      </ng-container>
    </ul>
    <ul *ngIf="tab === 'free'">
      <ng-container *ngFor="let table of tables">
        <li *ngIf="table.free">
          <mat-card class="table-block">
            <span>Table {{ table.number }}</span>
            <span><mat-icon>event_seat</mat-icon> {{ table.seats }}</span>
          </mat-card>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
