<div class="container">
  <h4>{{ userName }}</h4>
  <h4>Role: {{ uppedRole }}</h4>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item [routerLink]="[userRole]" (click)="closeSide()">
      <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a
      mat-list-item
      *ngIf="userRole == 'waiter'"
      [routerLink]="[userRole, 'new-table']"
      (click)="closeSide()"
    >
      <mat-icon>event_seat</mat-icon>New Table
    </a>
    <a
      mat-list-item
      *ngIf="userRole == 'cashier'"
      [routerLink]="[userRole, 'statistics']"
      (click)="closeSide()"
    >
      <mat-icon>insert_chart_outlined</mat-icon>Statistics
    </a>
    <a mat-list-item [routerLink]="['logout']" (click)="closeSide()">
      <mat-icon>exit_to_app</mat-icon>Logout
    </a>
  </mat-nav-list>
</div>
