.main-container {
  height: 75vh;
  overflow-y: scroll;
  // Firefox hide scrollbar
  scrollbar-width: none;
  mat-list {
    padding: 20px;
    mat-card {
      padding: 0px;
      mat-list-item {
        h3 {
          text-align: center;
          width: 100%;
        }
        .dish-container {
          width: 100%;
          display: grid;
          grid-template-columns: 3fr 1fr 1fr;
          .name {
            text-align: left;
          }
          .quantity {
            text-align: center;
          }
          .price {
            text-align: right;
          }
        }
      }
    }
  }
}
div {
  height: 10vh;
  h2 {
    padding-right: 20px;
    text-align: right;
  }
}
.main-container::-webkit-scrollbar {
  display: none;
}

#btn-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#btn-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
