<mat-card class="stat-container">
  <div>
    <h3>Today's profit: {{ profit }}</h3>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h3>Today's customers: {{ customersServed }}</h3>
  </div>
</mat-card>

<mat-card class="user-container">
  <h3>Employees statistics</h3>
  <mat-divider></mat-divider>
  <mat-list>
    <a [routerLink]="['users', user.id]" *ngFor="let user of users">
      <mat-list-item>
        <div>
          <p>{{ user.name }}</p>
          <p></p>
          <p class="right">{{ roles[user.role] }}</p>
        </div>
      </mat-list-item>
    </a>
  </mat-list>
</mat-card>
