<mat-card class="stat-container">
  <div>
    <h3>Today's profit: {{ profit }}&euro;</h3>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h3>Today's customers: {{ customersServed }}</h3>
  </div>
</mat-card>

<mat-card class="user-container">
  <h3>Employees management</h3>
  <mat-divider></mat-divider>
  <mat-list>
    <a [routerLink]="['users', user.userId]" *ngFor="let user of users">
      <mat-list-item>
        <div>
          <p>{{ user.name }}</p>
          <p></p>
          <p class="right">{{ user.role }}</p>
        </div>
      </mat-list-item>
    </a>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div>
        <a [routerLink]="['users', 'new']">
          <mat-icon [inline]="true">add_circle_outline</mat-icon>
        </a>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card class="close-day">
  <button mat-raised-button (click)="closeDay()" color="accent">
    Close Day
  </button>
</mat-card>
