@import "../../../css-variables.scss";

ul {
  list-style: none;
  width: 100%;
  max-width: 100vw;
  padding-left: 0px;
  margin: 0px;
  display: flex;
  overflow-y: scroll;
  // Firefox hide scrollbar
  scrollbar-width: none;

  li {
    min-width: 100px;
    min-height: 50px;
    margin: 10px;
    border-radius: 10%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// Chrome hide scrollbar
ul::-webkit-scrollbar {
  display: none;
}

.is-active {
  background-color: $primary;
  color: $primary-text;
}
