.main-container {
  padding: 20px;

  .title {
    text-align: center;
  }
  .course-container {
    display: flex;
    justify-content: space-between;
    .buttons-container {
      width: 120px;
      display: flex;
      justify-content: space-between;
    }
  }
}

#send {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#cancel {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
