<form [formGroup]="newUser" (ngSubmit)="onSubmit(newUser.value)">
  <mat-form-field>
    <input
      id="username"
      matInput
      placeholder="email"
      formControlName="username"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      id="password"
      matInput
      type="password"
      placeholder="password"
      formControlName="password"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select id="role" formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role.name">
        {{ role.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
