<div class="main-container">
  <mat-card>
    <h3>Waiter: {{ waiterName }}</h3>
    <mat-accordion>
      <mat-expansion-panel
        class="panel no-padding"
        *ngFor="let order of orders; let i = index"
      >
        <mat-expansion-panel-header class="panel">
          <div class="flexedTitle">
            <mat-panel-title>Ord. {{ order.orderId }}</mat-panel-title>
            <div>
              <mat-icon>restaurant</mat-icon>
              <p>:</p>
              <mat-icon *ngIf="order.foodStatus == 0">hourglass_empty</mat-icon>
              <mat-icon *ngIf="order.foodStatus == 1">whatshot</mat-icon>
              <mat-icon *ngIf="order.foodStatus == 2"
                >notifications_active</mat-icon
              >
              <mat-icon *ngIf="order.foodStatus == 3">done</mat-icon>
            </div>
            <div>
              <mat-icon>local_bar</mat-icon>
              <p>:</p>
              <mat-icon *ngIf="order.drinkStatus == 0"
                >hourglass_empty</mat-icon
              >
              <mat-icon *ngIf="order.drinkStatus == 1">whatshot</mat-icon>
              <mat-icon *ngIf="order.drinkStatus == 2"
                >notifications_active</mat-icon
              >
              <mat-icon *ngIf="order.drinkStatus == 3">done</mat-icon>
            </div>
          </div>
        </mat-expansion-panel-header>

        <mat-card cls *ngFor="let dish of order.dishes; let j = index">
          <div class="flexed">
            <p>{{ dish.name }}</p>
            <mat-icon *ngIf="dish.status == 0">hourglass_empty</mat-icon>
            <mat-icon *ngIf="dish.status == 1">whatshot</mat-icon>
            <mat-icon *ngIf="dish.status == 2">fastfood</mat-icon>
          </div>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>

<button mat-fab color="primary" id="btn-right" (click)="navigateToBill()">
  <mat-icon>local_printshop</mat-icon>
</button>
<button id="btn-left" mat-fab color="accent" (click)="navigateToDashboard()">
  <mat-icon>clear</mat-icon>
</button>
