.main-container {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  .container {
    display: grid;
    grid-template-rows: 56px auto;
    background-color: black;
  }
  .sidenav {
    width: 100px;
  }
}
