<div class="seats-container">
  <mat-card>
    <h3 class="title">Seats</h3>
    <div class="grid">
      <button mat-icon-button (click)="removeSeat()">
        <mat-icon>remove</mat-icon>
      </button>
      <p>{{ seats }}</p>
      <button mat-icon-button (click)="addSeat()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
<div class="list-container">
  <ul>
    <li *ngFor="let table of visibleTables">
      <mat-card
        (click)="select(table.number)"
        [ngClass]="{ active: table.number === selected }"
        class="table-block"
        >Table {{ table.number }}</mat-card
      >
    </li>
  </ul>
</div>

<button
  *ngIf="selected != -1"
  id="create"
  mat-fab
  color="primary"
  (click)="createTable()"
>
  <mat-icon>assignment_turned_in</mat-icon>
</button>
<button id="cancel" mat-fab color="accent" (click)="close()">
  <mat-icon>clear</mat-icon>
</button>
