.seats-container {
  padding: 20px;
  mat-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .title {
      align-self: center;
      margin-bottom: 0px;
      text-align: center;
    }
    .grid {
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

.progressBar {
  position: absolute;
}

#create {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#cancel {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
