.flexbox{
    display: flex;
    justify-content: space-between;
}
.flexbox2 {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

#send{
    position: absolute;
    bottom: 15px;
    right: 15px;   
}