<div class="subcontainer">
  <ul *ngIf="order">
    <li *ngFor="let dish of this.order.dishes">
      <mat-card>
        <div class="container">
          <p>{{ dish.name }}</p>
          <p>x {{ dish.quantity }}</p>
        </div>
      </mat-card>
    </li>
  </ul>
</div>
<div class="button-container">
  <button
    *ngIf="order.drinkStatus == 0"
    mat-raised-button
    color="primary"
    (click)="startOrder()"
  >
    <div class="content-container">
      <p>Start Order</p>
      <mat-icon>play_arrow</mat-icon>
    </div>
  </button>
  <button
    *ngIf="order.drinkStatus == 1"
    mat-raised-button
    color="accent"
    (click)="finishOrder()"
  >
    <div class="content-container">
      <p>Finish Order</p>
      <mat-icon>av_timer</mat-icon>
    </div>
  </button>
</div>
