.subcontainer {
  height: 65vh;
  overflow-y: scroll;
  margin: 10px;
  // Firefox hide scrollbar
  scrollbar-width: none;
  ul {
    margin: 0px;
    list-style: none;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    li {
      padding: 5px;
      margin-bottom: 10px;
      .container {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  button {
    min-width: 200px;
    .content-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      p {
        margin-right: 10px;
      }
    }
  }
}
// Chrome hide scrollbar
.subcontainer::-webkit-scrollbar {
  display: none;
}
